{% extends 'base.html.twig' %}

{% block title %}
    Créer une tâche
{% endblock %}
{% block header_title %}
    Créer une tâche
{% endblock %}

{% block body %}
    <div id="content">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        
        <a href="{{ path('project_task_remove', {'id': id, 'taskId': taskId}) }}" class="delete-task">
            Supprimer la tâche
        </a>
        {{ form_end(form) }}


    </div>
{% endblock %}
