{% extends 'base.html.twig' %}

{% block title %}
    Nouveau projet
{% endblock %}
{% block header_title %}
    Nouveau projet
{% endblock %}

{% block body %}
    <div id="content">
    {{ form_start(form, {'attr': {'novalidate': 'novalidate' }}
    ) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}

    </div>
{% endblock %}
